name: Build

on:
  push:

jobs:
  build-macos:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v2
    - name: get libwebrtc
      run: |
        LIBWEBRTC_VERSION=$(curl -ss -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}" https://api.github.com/repos/shiguredo-webrtc-build/webrtc-build/releases/latest | jq '.tag_name' | sed s/\"//g)
        wget https://github.com/shiguredo-webrtc-build/webrtc-build/releases/download/$LIBWEBRTC_VERSION/webrtc.macos.tar.gz
        tar xvzf webrtc.macos.tar.gz
    - name: get boost
      run: |
        wget https://dl.bintray.com/boostorg/release/1.72.0/source/boost_1_72_0.tar.gz
        tar xzvf boost_1_72_0.tar.gz
    - name: build
      run: |
        mkdir build
        cd build
        cmake .. -DTARGET="macos"
        cmake --build .
    - name: Upload artifact
      uses: actions/upload-artifact@v1.0.0
      with:
        name: native-webrtc-loopback-macos
        path: build/native-webrtc-loopback

  build-windows:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v2
      - name: install wget unzip curl jq
        run: |
          choco install Wget
          choco install unzip
          choco install curl
          choco install jq
      - name: get boost
        run: |
          wget https://dl.bintray.com/boostorg/release/1.72.0/source/boost_1_72_0.zip
      - name: get libwebrtc
        run: |
          $LIBWEBRTC_VERSION=curl -ss -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}" https://api.github.com/repos/shiguredo-webrtc-build/webrtc-build/releases/latest | jq '.tag_name'
          $LIBWEBRTC_VERSION=$LIBWEBRTC_VERSION -replace '"',''
          wget https://github.com/shiguredo-webrtc-build/webrtc-build/releases/download/${LIBWEBRTC_VERSION}/webrtc.windows.zip
      - name: build
        run: |
          unzip webrtc.windows.zip
          unzip boost_1_72_0.zip
          mkdir build
          cd build
          cmake .. -G "Visual Studio 16 2019" -DTARGET="windows"
          cmake --build . --config Release
      - name: Upload artifact
        uses: actions/upload-artifact@v1.0.0
        with:
          name: native-webrtc-loopback-windows.exe
          path: build/Release/native-webrtc-loopback.exe

  build-ubuntu:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: get libwebrtc
        run: |
          LIBWEBRTC_VERSION=$(curl -ss -H "Authorization: token ${{ secrets.GITHUB_TOKEN }}" https://api.github.com/repos/shiguredo-webrtc-build/webrtc-build/releases/latest | jq '.tag_name' | sed s/\"//g)
          wget https://github.com/shiguredo-webrtc-build/webrtc-build/releases/download/$LIBWEBRTC_VERSION/webrtc.ubuntu-18.04_x86_64.tar.gz
          tar xvzf webrtc.ubuntu-18.04_x86_64.tar.gz
      - name: load verison
        run: |
          . webrtc/VERSIONS
          echo $WEBRTC_SRC_BUILDTOOLS_THIRD_PARTY_LIBCXX_TRUNK
      - name: get libcxx
        run: |
          git clone https://chromium.googlesource.com/external/github.com/llvm/llvm-project/libcxx
          cd libcxx
          git fetch
          git reset --hard $WEBRTC_SRC_BUILDTOOLS_THIRD_PARTY_LIBCXX_TRUNK
          cd ../
      - name: get clang
        run: apt install -y clang-8
      - name: get boost
        run: |
          wget https://dl.bintray.com/boostorg/release/1.72.0/source/boost_1_72_0.tar.gz
          tar xzvf boost_1_72_0.tar.gz
      - name: build
        run: |
          mkdir build
          cd build
          cmake .. -DTARGET="ubuntu"
          cmake --build .
      - name: Upload artifact
        uses: actions/upload-artifact@v1.0.0
        with:
          name: native-webrtc-loopback-ubuntu
          path: build/native-webrtc-loopback
